#titlePageContainer {
	min-height: 100vh;
	max-height: 100vh;
}

.coverAll {
	display: table;
    position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
}

#background1 {
	background-image: url('images/surfer1.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

.overlay {
	background: rgba(0,0,0,.6);
	z-index: 1;
}

.navBarItem {
	display: inline-block;
	font-family: 'Josefin Sans', Arial;
	color: white;
	z-index: 2;
	margin: 1.5em;
}

#staticNavBar {
	display: block;
	position: fixed;
	top: .5em;
	z-index: 200;
	width: 100%;
	background-color: black;
}

#nameContainer {
	z-index: 2;
	display: table-cell;
    vertical-align: middle;
}

#name {
	font-family: 'Josefin Sans', Arial;
	color: white;
	font-size: 8em;
	text-align: center;
	line-height: 0.5em;
	font-weight: bold;
}

#subtitle {
	font-family: 'Josefin Sans', Arial;
	color: white;
	font-size: .2em;
}

.newPage {
	display: block;
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
	background-color: white;
}

.upperStuff {
	height: 65vh;
	width: 100%;
	background: #dbdbdb;
	text-align: center;
}

.upperStuff2 {
	height: 50vh;
	width: 100%;
	background: #dbdbdb;
	text-align: center;
}

.upperStuffBuffer {
	height: 10vh;
	width: 100%;
	background: #dbdbdb;
	text-align: center;
	z-index: 300;
	color: black
	font-family: 'Josefin Sans', Arial;
	font-size: 2em;
}

.upperStuffBuffer2 {
	height: 15vh;
	width: 100%;
	background: #dbdbdb;
	text-align: center;
	z-index: 300;
	color: black
	font-family: 'Josefin Sans', Arial;
	font-size: 2em;
}

.lowerStuff {
	height: 25vh;
	width: 100%;
	background: #333;
}

.lowerStuff2 {
	height: 35vh;
	width: 100%;
	background: #333;
}

.projectSlide {
	height: 60vh;
	width: 35vw;
	margin-left: auto;
	margin-right: auto;
	background-image: url('images/swelfie1.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.aboutBox {

	width: 35vw;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0,0,0,.3);
	font-family: 'Josefin Sans', Arial;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
}

.column {
	text-align: center;
	display: inline-block;
	height: 100%;
	width: 33%;
	font-family: 'Josefin Sans', Arial;
	font-size: 1.5em;
	color: white;
}

.columnPane {
	width: 40%;
	margin: 0 auto 0 auto;
}

.columnPane2 {
	width: 60%;
	margin: 0 auto 0 auto;
}


.descBox {
	text-align: center;
	color: white;
}

#buff1 {
	height: 8vh;
	width: 100%;
	background: #333;
}

#portDesc {
	height: 10vh;
	width: 100%;
	background: #333;
	font-family: 'Josefin Sans', Arial;
	font-size: 1.5em;
	color: white;
}

#contactSection {
	height: 10vh;
	width: 100%;
	background: #333;
	font-family: 'Josefin Sans', Arial;
	font-size: 1.5em;
	color: white;
	text-align: center;
	padding-top: 2em;
}

#buff2 {
	height: 8vh;
	width: 100%;
	background: #333;
}

.left {
	float: left;
	margin-top: 10em;
	margin-left: 15em;
}

.right{
	float: right;
	margin-top: 10em;
	margin-right: 15em;
}

.icon {
	text-align: center;
}
.header {
	padding-bottom: 2em;
}