@font-face {
  font-family: 'Regencie Light';
  src: url('regencie-light.ttf');
}

body {
	font-family: 'Regencie Light', sans-serif;
	color: #282c30;
	background-color: #f5f4f1;
}

#titlePageContainer {
	height: 760px;
}

.darkbg {
	background: #171b1e;
}

#titlePage {
	position: absolute;
	height: 720px;
	width: 100%;
	overflow: hidden;
}

header {
	height: 120px;
	width: 100%;
}

.wrap {
	height: 100%;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
}

.wrap2 {
	height: 640px;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
}

.wrap #woah {

}

.logo {
	position: absolute;
	left: 0;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.menuOptions {
	position: absolute;
	right: 0;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.menuItem {
	font-family: 'Regencie Light', sans-serif;
	color: #6b7175;
	display: inline-block;
	line-height: 1;
	font-size: 1rem;
	margin-left: 40px;
	text-decoration: none;
}

.title {
	font-family: 'Regencie Light', sans-serif;
	color: white;
	text-align: center;
}

em {
	display: block;
	color: #6b7175;
	font-style: italic;
	font-size: 1.2rem;
	margin: 1.5em 0;
}

h1 {
	font-size: 50px;
}

#laptop {
	width: 90%;
	max-width: 750px;
	height: 480px;
	background: url('images/laptop2.jpg') no-repeat center center;
	background-size: 100% auto;
	margin: 0 auto;

}

.btn {
	position: absolute;
	width: 200px;
	height: 70px;
	padding: 0;
	z-index: 50;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-box-shadow: 0 0 0 2px white;
	-moz-box-shadow: 0 0 0 2px white;
	box-shadow: 0 0 0 2px white;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	-ms-border-radius: 50em;
	-o-border-radius: 50em;
	border-radius: 50em;
	text-align: center;
}

#laptop a {
	color: #6b7175;
	text-decoration: none;
	/* for Matrix pic
	background: #171b1e;
	*/
}

.btn span {
	font-family: 'Regencie Light', sans-serif;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	color: white;
	height: 100%;
	width: 100%;
	line-height: 68px;

}

/*.wallpaper {
	position: absolute;
	width: 550px;
	height: 345px;
	background: transparent url('images/altimg.jpg') no-repeat center center;
	-webkit-background-size: 650px 450px;
	-moz-background-size: 650px 450px;
	-o-background-size: 650px 450px;
	background-size: 650px 450px;
	top: 170px;
	left: 325px;
	z-index: 40;
	opacity: .7;
}*/

#services {
	position: relative;
	height: 860px;
}

section {
	text-align: center;
	overflow: hidden;
}

.tl { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 50%; 
	bottom: 50%; 
	opacity: .7;

}

.tl:hover {
	background-color: #eae8e2;
	opacity: 1;
}

.tr { 
	position: absolute; 
	top: 0; left: 50%; 
	right: 0; bottom: 50%; 
	opacity: .7;
}

.tr:hover {
	background-color: #eae8e2;
	opacity: 1;
}

.bl { 
	position: absolute; 
	top: 50%; 
	left: 0; 
	right: 50%; 
	bottom: 0; 
	opacity: .7;
}

.bl:hover {
	background-color: #eae8e2;
	opacity: 1;
}

.br { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	right: 0; 
	bottom: 0; 
	opacity: .7;	
} 

.br:hover {
	background-color: #eae8e2;
	opacity: 1;
}

.servicePics {
	margin-top: 40px;
}

.serviceDesc {
	font-weight: bold;
	font-size: 1.5em
}

#portfolio {
	position: relative;
	height: 800px;
}

.darkestbg {
	background-color: #171b1e;
}

.portItemContainer {
	height: 800px;
	width: 100%;
	margin: 59px 0 0 0;
}

.projectTitle {
	font-size: 3em;
	color: white;
	margin: 10px;
}

.siteButton {
	display: inline-block;
	margin: 1em 1em 1.7em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	background: #6b7175;
	padding: .7em 1em .7em 1em;
	position: relative;
	opacity: .7;
	text-decoration: none;
}

.siteButton:hover {
	opacity: 1;
}

.btn2 {
	content: '';
	display: inline-block;
	right: 1em;
	background: url('images/link.png') no-repeat center center;
	height: 13px;
	width: 13px;
	background-size: 13px 13px;
}

.containerer {
	display: inline-block;
	margin-left: .3em;
}

#leftArrow {
	display: inline-block;
	left: 0;
	background: url('images/arrow_left.svg') no-repeat center center;
	display: inline-block;
	width: 18px;
	height: 35px;
	overflow: hidden;
	text-indent: 120%;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 18px 35px;
	-moz-background-size: 18px 35px;
	-o-background-size: 18px 35px;
	background-size: 18px 35px;
	position: absolute;
	top: 45%;
	margin-left: 17px;
}

#rightArrow {
	display: inline-block;
	right: 0;
	background: url('images/arrow_right.svg') no-repeat center center;
	display: inline-block;
	width: 18px;
	height: 35px;
	overflow: hidden;
	text-indent: 120%;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 18px 35px;
	-moz-background-size: 18px 35px;
	-o-background-size: 18px 35px;
	background-size: 18px 35px;
	position: absolute;
	top: 45%;
}

#about {
	height: 720px;
	background: url('images/aboutbg.jpg') no-repeat center center;
	background-position: 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: relative;
}

#padding {
	padding: 4em 0;
}

#aboutTitle {
	font-size: 3em;
	color: black;
}

#aboutSubTitle {
	margin: 1.3em;
	font-size: 1.2em;
	font-style: italic;
	color: #276594;
}

#profilePic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: url('images/profile-pic.jpg');
	background-size: cover;
	margin: 5em auto 0 auto;
}

#profileDesc {
	margin: 1em 0 .7em 0;
	font-size: 1.2em;
	font-weight: bold;
}

#subDesc {
	margin: 1em 0 .5em 0;
	font-size: 1.1em;
	font-style: italic;
	color: #276594;
}

#subDesc a:link {
	text-decoration: underline;
	color: #276594;
}

#subDesc a:visited {
	text-decoration: none;
	color: #276594;
}

#linkedin {
	display: block;
	height: 28px;
	width: 28px;
	background: url('images/linkedin.png');
	background-size: cover;
	margin: 1em auto;
}

#contact {
	height: 720px;
}

#contactTitle {
	font-size: 3em;
	color: white;
	margin: 1em auto 0 auto;
}

#contactSub {
	margin: 1.3em;
	font-size: 1.2em;
	font-style: italic;
	color: #6b7175;
}

#map-canvas {
	height: 300px;
	position: relative;
	overflow: hidden;
	margin: 0 auto auto auto;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#map-canvas:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.contactImg {
	display: inline-block;
	margin: 2em 1em;
}

.contactDetails {
	display: inline-block;
	margin: 1.5em 7.7em 1em 5.2em;
	font-size: .9em;
	color: #6b7175;
}

#footer {
	text-align: center;
	padding: 10px 30px 40px 30px;
	margin-top: 20px;
	font-size: .8em;
	color: #6b7175;
}

#emailBox {
	text-align: center;
	display: block;
	margin: 2em auto;
}

#formName {
	font-size: 1.2em;
	padding: .6em 0;
	margin-right: 1em;
	margin-top: 1em;
	border: none;
	border-bottom: 1px solid #444a4f;
	color: white;
	background: transparent;
	opacity: .7;
	width: 45%;
}

#formEmail {
	margin-top: 1em;
	margin-left: 1em;
	font-size: 1.2em;
	padding: .6em 0;
	border: none;
	border-bottom: 1px solid #444a4f;
	color: white;
	background: transparent;
	opacity: .7;
	width: 45%;
}

.formMessage {
	font-size: 1.2em;
	padding: .6em 0;
	border: none;
	border-bottom: 1px solid #444a4f;
	color: white;
	background: transparent;
	opacity: .7;
	width: 93.6%;
	height: 250px;
	margin-top: 1em;
	margin-left: .3em;
}

input.formMessage {
	vertical-align:text-top;
}

#submitBtn {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background: #6b7175;
	color: #444a4f;
	font-size: 1.4rem;
	letter-spacing: .1em;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 93.8%;
	padding: .8em;
	border: none;
	transition: all 0.3s;
}

#submitBtn:hover {
	background: #3c8ecc;
	color: white;
}

#socialMedia {
	margin-top: 1em;
}

.banner { 
	position: relative; overflow: hidden; 
}

.banner li { 
	list-style: none; 
}

.banner ul li { float: left; 
}

#portfolio img {
	max-width: 100%;
	max-height: 100%;
	width: auto\9; /* ie8 */
}

@media all and (max-width: 1350px) {
	.panel .portPic {
		width: 1100px;
	}
	
	.panel .projectTitle {
		width: 1100px;
	}

	.panel .siteButton {
		margin-right: 5.5em;
	}
}

@media all and (max-width: 1250px) {
	.panel .portPic {
		width: 1000px;
	}
	
	.panel .projectTitle {
		width: 1000px;
	}

	.panel .siteButton {
		margin-right: 11.5em;
	}
}

@media all and (max-width: 1135px) {
	.panel .portPic {
		width: 950px;
	}
	
	.panel .projectTitle {
		width: 950px;
	}

	.panel .siteButton {
		margin-right: 15em;
	}
}

@media all and (max-width: 1080px) {
	.panel .portPic img{
		width: 700px;
		margin-right: 3em;
	}
	
	#portfolio {
		height: 677px;
	}

	.panel .projectTitle {
		width: 900px;
	}

	.panel .siteButton {
		margin-right: 18em;
	}
}

@media all and (max-width: 990px) {
	.panel .portPic img{
		width: 650px;
		margin-right: 5em;
	}
	
	#portfolio {
		height: 643px;
	}

	.panel .projectTitle {
		width: 850px;
	}

	.panel .siteButton {
		margin-right: 21em;
	}
}

@media all and (max-width: 950px) {
	.panel .portPic img{
		width: 600px;
		margin-right: 9em;
	}
	
	#portfolio {
		height: 610px;
	}

	.panel .projectTitle {
		width: 800px;
	}

	.panel .siteButton {
		margin-right: 24em;
	}
}

@media all and (max-width: 880px) {
	.panel .portPic img{
		width: 550px;
		margin-right: 12em;
	}
	
	#portfolio {
		height: 577px;
	}

	.panel .projectTitle {
		width: 750px;
	}

	.panel .siteButton {
		margin-right: 28em;
	}
}

@media all and (max-width: 815px) {
	.panel .portPic img{
		width: 500px;
		margin-right: 17.5em;
	}
	
	#portfolio {
		height: 543px;
	}

	.panel .projectTitle {
		width: 644px;
	}

	.panel .siteButton {
		margin-right: 34em;
	}
}

@media all and (max-width: 720px) {
	.panel .portPic img{
		width: 400px;
		margin-right: 24em;
	}
	
	#portfolio {
		height: 477px;
	}

	.panel .projectTitle {
		width: 544px;
	}

	.panel .siteButton {
		margin-right: 40em;
	}
	
	#services {
		height: 600px;
	}

	#services img {
		width: 50%;
	}

	#services .br {
		top: 45.7%;
	}
}